{% load widget_tweaks %}

<h1 class="mt-8 mb-4 prose prose-2xl text-white">
    Import Transactions
</h1>

<form hx-post="{% url 'transactions-import' %}" hx-encoding="multipart/form-data">

    <div class="mb-4">
        <input type="file" name="file" required
            class="file-input max-w-xs w-full file-input-success text-black"
            accept=".csv" />
    </div>

    <button class="btn btn-success text-white">
        Upload
    </button>
    <button class="btn btn-error text-white"
        hx-get="{% url 'transactions-list' %}"
        hx-target="#transaction-block"
        hx-push-url='/transactions/'>
        Cancel
    </button>
</form>